# Global Dotfile Exclusion (with exceptions)
# ------------------------------------------
.*
!.gitignore
!.pre-commit-config.yaml
!.python-version
!.profile
!.version

# Allow directory structure but not files
!.*/


# Operating System Files
# ----------------------
# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/


# Editors/IDEs
# ------------
# VS Code
.vscode/
*.code-workspace


# Sublime Text
*.sublime-workspace
*.sublime-project


# Vim
*.swp
*.swo
*.un~
Session.vim


# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
tramp
.\#*


# Python
# ------
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.mypy_cache/
dist/
build/
*.egg-info/
*.egg


# Jupyter
# -------
.ipynb_checkpoints/
*.ipynb_checkpoints
profile_default/
ipython_config.py


# Virtual Environments
# --------------------
# Python
**/venv/
**/.venv/
**/env/
**/virtualenv/
**/ENV/
**/env.bak/
**/venv.bak/
**/conda-env/
**/envs/
**/virtualenvs/
**/pyenv/
**/pythonenv/
**/Pipfile.lock
**/poetry.lock
uv.lock

# LaTeX
# -----
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.run.xml
*.bcf
*.thm
*.loe
*.lol


# Miscellaneous
# -------------
node_modules/
package-lock.json
